---
import Layout from "../layouts/default.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const projects = await getCollection("github");
---

<title>Homepage</title>
<Layout>
	<div class="flex flex-row flex-wrap align-center w-full">
		<div class="lg:w-1/2 w-full max-content">
			<div class="p-4 flex items-center justify-center">
				<h1 class="text-4xl bg-ctp-mantle p-4 rounded-2xl">Latest Projects</h1>
			</div>
			<div
				class="flex flex-row flex-wrap items-center justify-center text-l gap-4 p-4"
			>
				{
					projects.map((project) => (
							<a
								href={`/projects/${project.id}`}
								class="p-4 flex lg:flex-row flex-col flex-1 max-w-175 basis-full flex-col bg-ctp-mantle rounded-2xl items-center"
							>
								<div class="flex flex-col flex-wrap items-center justify-center text-l p-4 flex-3">
									<div class="text-2xl p-4 text-center">{project.data.title}</div>
									<div class="text-center">{project.data.description}</div>
								</div>
								<div class="min-w-32 aspect-3/2 flex-2">
									<Image
										src={project.data.thumbnail_light}
										class="dark:hidden inline"
										alt="project image"
									/>
									<Image
										src={project.data.thumbnail_dark}
										class="dark:inline hidden"
										alt="project image"
									/>
								</div>
							</a>
					))
				}
			</div>
		</div>
		<div class="lg:w-1/2 w-full max-content">
			<div class="p-4 flex items-center justify-center">
				<h1 class="text-4xl bg-ctp-mantle p-4 rounded-2xl">Latest Blogs</h1>
			</div>
			<div
				class="flex flex-row flex-wrap items-center justify-center text-l gap-4 p-4"
			>
				{
					posts.map((post) => (
						<a
							href={`/blog/${post.id}`}
							class="p-4 flex lg:flex-row flex-col flex-1 max-w-175 basis-full flex-col bg-ctp-mantle rounded-2xl items-center"
						>
							<div class="flex flex-col flex-wrap items-center justify-center text-l p-4 flex-3">
								<div class="text-2xl p-4 text-center">
									{post.data.pubDate.toLocaleDateString("en-US")}:{" "}
									{post.data.title}
								</div>
								<div class="text-center">{post.data.description}</div>
							</div>
							<div class="min-w-32 aspect-3/2 flex-2">
								<Image
									src={post.data.thumbnail_light}
									class="dark:hidden inline"
									alt="blogpost image"
								/>
								<Image
									src={post.data.thumbnail_dark}
									class="dark:inline hidden"
									alt="blogpost image"
								/>
							</div>
						</a>
					))
				}
			</div>
		</div>
	</div>
</Layout>
