---
import Layout from "../layouts/default.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const projects = (await getCollection("github"));
---

<title>Homepage</title>
<Layout>
	<div class="flex flex-row flex-wrap align-center w-full">
		<div class="lg:w-1/2 w-full max-content">
			<div class="p-4 flex items-center justify-center">
				<h1 class="text-4xl bg-ctp-mantle p-4 rounded-2xl">Latest Projects</h1>
			</div>
			<div class="flex flex-row flex-wrap items-center justify-center text-l">
				{
					projects.map((project) => (
						<div class="flex flex-row flex-wrap items-center justify-center text-l p-4">
							<a
								href={`/projects/${project.id}`}
								class="p-4 flex flex-1 max-w-128 basis-full flex-col bg-ctp-mantle rounded-2xl items-center"
							>
								<div class="text-2xl">
									{project.data.title}
								</div>
								<div>{project.data.description}</div>
							</a>
						</div>
					))
				}
			</div>
		</div>
		<div class="lg:w-1/2 w-full max-content">
			<div class="p-4 flex items-center justify-center">
				<h1 class="text-4xl bg-ctp-mantle p-4 rounded-2xl">Latest Blogs</h1>
			</div>
			<div class="flex flex-row flex-wrap items-center justify-center text-l">
				{
					posts.map((post) => (
						<div class="flex flex-row flex-wrap items-center justify-center text-l p-4">
							<a
								href={`/blog/${post.id}`}
								class="p-4 flex flex-1 max-w-128 basis-full flex-col bg-ctp-mantle rounded-2xl items-center"
							>
								<div class="text-2xl">
									{post.data.pubDate.toLocaleDateString('en-US')}: {post.data.title}
								</div>
								<div>{post.data.description}</div>
							</a>
						</div>
					))
				}
			</div>
		</div>
	</div>
</Layout>
